djangorestframework~=3.11.1
django~=3.1.1
gunicorn
pyyaml~=5.3.1
# psycopg2 need python 64-bit and postgresql installed
psycopg2-binary~=2.8.6
requests~=2.24.0


# local requirements:
# ansible on linux
# fabric3
# selenium
# geckodriver set in PATH