body {
    background-color: black;
    color: #17a2b8;
}

.dropdown-menu, .dropdown-item {
    background-color: #343a40;
    color: #17a2b8;
}

.dropdown-item:hover {
    background-color: #0f0f0f;
    color: #17a2b8;
}

input, .form-control, .form-control:focus {
    background-color: black;
    color: #17a2b8;
}

#id_desired_level,
.new_values, .base_values {
  height: 25px;
  width: 35px;
}

#id_multiplier {
    height: 25px;
    width: 55px;
}

.nav.nav-tabs.bg-dark.justify-content-around .nav-item .active {
background-color: transparent;
}

.row.row-separator {
    height: 10px;
}