{% extends "main_page/base.html" %}

{% block stylesheet %}
<link href="/static/about_me.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="row">
    <div class="col my-5" id="about_me">
        <h3>About me:</h3>
        <p>Little over year ago I decide to change my life.<br>
        First I lost over 40kg, about six month ago I start learning how to programming.<br>
        At first learning Python, then change to django and now I have enough skill to start work for money.<br></p>
    </div>
</div>
<div class="row">
    <div class="col my-5">
        <h3>Links to my accounts:</h3>
        <ul>
            <li><a class="text-info" href="https://github.com/ForisTale">https://github.com/ForisTale</a></li>
        </ul>
    </div>
</div>
{% endblock %}