{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Foris.dev</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/static/main_page/base.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href=" {% static 'favicon.ico' %}">
    {% block stylesheet %}{% endblock %}
</head>
<body>
<div class="container text-info">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
    <div class="container-fluid">
        <a class="navbar-brand text-info" href="{% url 'main_page:home' %}">Foris.dev</a>
        <a class="text-info" href="{% url 'tec:character' %}">The Elder Commands</a>
        <a class="text-info" href="{% url 'lists:home' %}">Superlists</a>
        <a class="text-info" href="{% url 'main_page:about_me' %}">About Me</a>
    </div>
</nav>

{% block body %}
{% endblock %}
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>