<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewpoint" content="width=device-width, initial-scale=1">
    <title>Foris.dev</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'main_page:home' %}">Foris.dev</a>
        </div>
        <div class="nav navbar-nav">
            <ul>
                <li><a href="{% url 'main_page:about_me' %}">About Me</a></li>
            </ul>
        </div>
    </div>
</nav>

{% block body %}
{% endblock %}
</div>
</body>
</html>