{% extends "main_page/base.html" %}

{% block body %}
<div class="row my-5">
    <div class="col-md-12 my-5 mx-auto">
        <h2>Purpose of this website:</h2>
        <p>This site was created to demonstrate some of my django projects.<br>
        If you want to know more about my projects visit "About Me" page, where you can find link to my accounts.</p>
    </div>
</div>
<div class="row my-5">
    <div class="col-md-12 mx-auto">
        <h2><a class="text-info" href="{% url 'tec:home' %}">The Elder Commands</a></h2>
        <p>
            It generate console commands for skills, items, spells, etc. for base game and mods. <br>
            And lets you add new mods to the database.
        </p>
    </div>
</div>
<div class="row my-5">
<div class="col-md-12 mx-auto">
    <p>My projects are deployed using Ansible and under CI using Jenkins.</p>
</div>
</div>
{% endblock %}