{% load static %}
{% load tec_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/static/the_elder_commands/base.css" rel="stylesheet">
    <link rel="shortcut icon" href=" {% static 'favicon.ico' %}">
    <title>The Elder Commands</title>
</head>
<body>
<div class="container-fluid">
<ul class="nav nav-pills bg-dark justify-content-around">
    <li class="nav-item">
        <a class="nav-link header-link text-info " href="{% url 'main_page:home' %}">Foris.dev</a>
    </li>
    {% for category in categories %}
    <li class="nav-item">
        {% with "tec:"|addstr:category as address_url %}
        {% if active == category %}
            <a class="nav-link header-link active" href="{% url address_url %}">{{ category|title }}</a>
        {% else %}
            <a class="nav-link header-link text-info" href="{% url address_url %}">{{ category|title }}</a>
        {% endif %}
        {% endwith %}
    </li>
    {% endfor %}
</ul>
<div class="row row-separator"></div>
{% block body %}
{% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>