<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/static/the_elder_commands/base.css" rel="stylesheet">
    <title>The Elder Commands</title>
</head>
<body>
<div class="row container-fluid">
<div class="col-lg-1"></div>
<div class="col-md-9">

    <div class="btn-group dropright">
        <button class="btn btn-dark dropdown-toggle text-info" type="button" id="id_chose_race"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Chose Race
        </button>
        <div class="dropdown-menu" aria-labelledby="id_chose_race">
            {% for race in character.playable_races %}
                <form action="{% url 'tec:character' %}" method="post">
                    <button class="dropdown-item {{ race.1 }}" value="{{ race.0 }}" name="race" type="submit">
                        {{ race.0 }}
                    </button>
                {% csrf_token %}
                </form>

            {% endfor %}
        </div>
    </div>

    <h6 class="text-info" id="id_race_name">Chosen race:<br>{{ character.race }}</h6>

<form action="{% url 'tec:character' %}" method="post">
    <div class="row">
        {% for category, category_skills in character.default_skills.items %}
            <div class="col-lg-4">
                <table class="table table-dark text-info">
                    <thead>
                    <tr>
                        <th>Priority</th>
                        <th>{{ category }}</th>
                        <th>Value</th>
                        <th>New value</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for skill, item in category_skills.items %}
                        <tr>
                            <td><label class="container">
                                <input id="id_{{ item.console_name }}_priority" type="checkbox">
                            </label></td>
                        <td>{{ skill }}</td>
                        <td id="id_{{ item.console_name}}_value"><label>
                            <input class="base_values" name="{{ skill }}_base" value="{{ item.value }}">
                        </label></td>
                        <td id="id_{{ item.console_name }}_new_value"><label>
                            <input class="new_values" name="{{ skill }}_new">
                        </label></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-md-4">
            <label>Priority multiplier:
                <input id="id_priority_multiplier" name="priority_multiplier" value="2">
            </label>

        </div>
        <div class="col-md-4">
            <h6 id="id_calculated_level">Calculated level: 1</h6>
        </div>
        <div class="col-md-4">
            <label>Desired level:
                <input id="id_desired_level" name="desired_level">
            </label>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-2 center-block">
            <button class="btn btn-dark text-info" id="id_calculate" type="submit">Calculate</button>
            {% csrf_token %}
        </div>
        <div class="col-sm-5"></div>
    </div>
</form>
</div>

<div class="col-md-2">
    <table class="table table-dark text-info" id="id_commands_list">
        <thead>
        <tr>
            <th>Commands List:</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Placeholder</td>
        </tr>
        </tbody>
    </table>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>