{% extends "the_elder_commands/base.html" %}
{% block body %}
<div class="row container-fluid">
<div class="col-lg-4"></div>
<div class="col-lg-4">
    {% if form %}
        {% for error in form.errors.values %}
            <h4>{{ error }}</h4>
        {% endfor %}
    {% endif %}
</div>
<div class="col-lg-4"></div>
</div>

<div class="row container-fluid">
<div class="col-lg-1"></div>
<div class="col-md-9">

    <div class="btn-group dropright">
        <button class="btn btn-dark dropdown-toggle text-info" type="button" id="id_chose_race"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Chose Race
        </button>
        <div class="dropdown-menu" aria-labelledby="id_chose_race">
            {% for race in character.playable_races %}
                <form action="{% url 'tec:character' %}" method="post">
                    <button class="dropdown-item {{ race.1 }}" value="{{ race.0 }}" name="race" type="submit">
                        {{ race.0 }}
                    </button>
                {% csrf_token %}
                </form>

            {% endfor %}
        </div>
    </div>

    <h6 class="text-info" id="id_race_name">Chosen race:<br>{{ character.race }}</h6>

<form action="{% url 'tec:character' %}" method="post">
    <div class="row">
        {% for category, category_skills in character.skills.items %}
            <div class="col-lg-4">
                <table class="table table-dark text-info">
                    <thead>
                    <tr>
                        <th>Multiplier</th>
                        <th>{{ category }}</th>
                        <th>Value</th>
                        <th>New value</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for skill, item in category_skills.items %}
                        <tr>
                            <td><label class="container">
                                <input type="checkbox" name="{{ item.console_name }}_multiplier"
                                        {% if item.multiplier %}checked{% endif %}>
                            </label></td>
                        <td>{{ skill }}</td>
                        <td id="id_{{ item.console_name}}_value"><label>
                            <input class="base_values" name="{{ item.console_name }}_base"
                                   value="{{ item.default_value }}">
                        </label></td>
                        <td id="id_{{ item.console_name }}_new_value"><label>
                            <input class="new_values" name="{{ item.console_name }}_new"
                                   value="{{ item.desired_value }}">
                        </label></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-md-4">
            <label>Multiplier:
                <input id="id_multiplier" name="priority_multiplier"
                       value="{{ character.priority_multiplier }}" type="number" step="0.1">
            </label>

        </div>
        <div class="col-md-4">
            <h6 id="id_calculated_level">Calculated level: {{ character.default_level }}</h6>
        </div>
        <div class="col-md-2">
            <label>Desired level:
                <input id="id_desired_level" name="desired_level" value="{{ character.desired_level }}">
            </label>
        </div>
        <div class="col-md-2">
            <label class="container"><input type="checkbox" name="fill_skills" value="true"
                        {% if character.fill_skills %}checked{% endif %}> Fill skills to desired level?</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-2 center-block">
            <button class="btn btn-dark text-info" id="id_calculate" type="submit">Calculate</button>
            {% csrf_token %}
        </div>
        <div class="col-sm-5"></div>
    </div>
</form>
</div>

<div class="col-md-2">
    <table class="table table-dark text-info" id="id_commands_list">
        <thead>
        <tr>
            <th>Commands List:</th>
        </tr>
        </thead>
        <tbody>
        {% for command in character.list_of_character_commands %}
        <tr>
            <td>{{ command }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}