{% extends "the_elder_commands/base.html" %}
{% load tec_extras %}

{% block head %}
<link href="/static/the_elder_commands/items.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
{% endblock %}

{% block scripts %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/the_elder_commands/TEC.js"></script>
<script src="/static/the_elder_commands/TECItems.js"></script>
<script>$(document).ready( function () { new TECItems({url: "{% url 'tec:items' %}",
    messages: {{ items_messages }}}) });</script>
{% endblock %}

{% block body %}


<div class="row">
<div class="col">
    <ul class="nav nav-tabs bg-dark justify-content-around" id="id_items_categories" role="tablist">
        {% for category in items_categories %}
        <li class="nav-item">
            <a class="nav-link text-info {% if category == "weapons" %}active show{% endif %}"
               id="id_{{ category|strip_space }}" data-toggle="tab" role="tab"
               href="#id_{{ category|strip_space }}_panel" aria-controls="id_{{ category|strip_space }}_panel"
               aria-selected="{% if category == "weapons" %}true{% else %}false{% endif %}">{{ category|title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
</div>

<div class="row row-separator"></div>

<div class="tab-content">
<div class="tab-pane fade show active" id="id_weapons_panel" role="tabpanel" aria-labelledby="id_weapons">
    <div class="row">
    <div class="col">
        <table class="table table-dark text-info" id="id_weapons_table">
            <thead>
            <tr>
                <th>Quantity</th>
                <th>Item name</th>
                <th>Damage</th>
                <th>Value</th>
                <th>Type</th>
                <th>Weight</th>
                <th>Plugin</th>
                <th>Editor ID</th>
                <th>Form ID</th>
                <th>Magic</th>
            </tr>
            </thead>
            <tbody id="id_weapons_tbody">
            </tbody>
        </table>
    </div>
    </div>
</div>
<div class="tab-pane fade" id="id_armors_panel" role="tabpanel" aria-labelledby="id_armors">
    <div class="row">
    <div class="col">
        <table class="table table-dark text-info" id="id_armors_table">
            <thead>
            <tr>
                <th>Quantity</th>
                <th>Item name</th>
                <th>Armor</th>
                <th>Type</th>
                <th>Value</th>
                <th>Weight</th>
                <th>Plugin</th>
                <th>Editor ID</th>
                <th>Form ID</th>
                <th>Magic</th>
            </tr>
            </thead>
            <tbody id="id_armors_tbody">
            </tbody>
        </table>
    </div>
    </div>
</div>
<div class="tab-pane fade" id="id_ammo_panel" role="tabpanel" aria-labelledby="id_ammo">
    <div class="row">
    <div class="col">
        <table class="table table-dark text-info" id="id_ammo_table">
            <thead>
            <tr>
                <th>Quantity</th>
                <th>Item name</th>
                <th>Damage</th>
                <th>Value</th>
                <th>Plugin</th>
                <th>Editor ID</th>
                <th>Form ID</th>
            </tr>
            </thead>
            <tbody id="id_ammo_tbody">
            </tbody>
        </table>
    </div>
    </div>
</div>
<div class="tab-pane fade" id="id_books_panel" role="tabpanel" aria-labelledby="id_books">
    <div class="row">
    <div class="col">
        <table class="table table-dark text-info" id="id_books_table">
            <thead>
            <tr>
                <th>Quantity</th>
                <th>Item name</th>
                <th>Value</th>
                <th>Weight</th>
                <th>Plugin</th>
                <th>Editor ID</th>
                <th>Form ID</th>
            </tr>
            </thead>
            <tbody id="id_books_tbody">
            </tbody>
        </table>
    </div>
    </div>
</div>
<div class="tab-pane fade" id="id_ingredients_panel" role="tabpanel" aria-labelledby="id_ingredients">
    <div class="row">
    <div class="col">
        <table class="table table-dark text-info" id="id_ingredients_table">
            <thead>
            <tr>
                <th>Quantity</th>
                <th>Item name</th>
                <th>Value</th>
                <th>Weight</th>
                <th>Plugin</th>
                <th>Editor ID</th>
                <th>Form ID</th>
                <th>Effects</th>
            </tr>
            </thead>
            <tbody id="id_ingredients_tbody">
            </tbody>
        </table>
    </div>
    </div>
</div>
<div class="tab-pane fade" id="id_alchemy_panel" role="tabpanel" aria-labelledby="id_alchemy">
    <div class="row">
    <div class="col">
        <table class="table table-dark text-info" id="id_alchemy_table">
            <thead>
            <tr>
                <th>Quantity</th>
                <th>Item name</th>
                <th>Value</th>
                <th>Weight</th>
                <th>Plugin</th>
                <th>Editor ID</th>
                <th>Form ID</th>
                <th>Effects</th>
            </tr>
            </thead>
            <tbody id="id_alchemy_tbody">
            </tbody>
        </table>
    </div>
    </div>
</div>
<div class="tab-pane fade" id="id_scrolls_panel" role="tabpanel" aria-labelledby="id_scrolls">
    <div class="row">
    <div class="col">
        <table class="table table-dark text-info" id="id_scrolls_table">
            <thead>
            <tr>
                <th>Quantity</th>
                <th>Item name</th>
                <th>Value</th>
                <th>Weight</th>
                <th>Plugin</th>
                <th>Editor ID</th>
                <th>Form ID</th>
                <th>Effects</th>
            </tr>
            </thead>
            <tbody id="id_scrolls_tbody">
            </tbody>
        </table>
    </div>
    </div>
</div>
<div class="tab-pane fade" id="id_soulgems_panel" role="tabpanel" aria-labelledby="id_soulgems">
    <div class="row">
    <div class="col">
        <table class="table table-dark text-info" id="id_soulgems_table">
            <thead>
            <tr>
                <th>Quantity</th>
                <th>Item name</th>
                <th>Value</th>
                <th>Weight</th>
                <th>Plugin</th>
                <th>Editor ID</th>
                <th>Form ID</th>
            </tr>
            </thead>
            <tbody id="id_soulgems_tbody">
            </tbody>
        </table>
    </div>
    </div>
</div>
<div class="tab-pane fade" id="id_keys_panel" role="tabpanel" aria-labelledby="id_keys">
    <div class="row">
    <div class="col">
        <table class="table table-dark text-info" id="id_keys_table">
            <thead>
            <tr>
                <th>Quantity</th>
                <th>Item name</th>
                <th>Value</th>
                <th>Weight</th>
                <th>Plugin</th>
                <th>Editor ID</th>
                <th>Form ID</th>
            </tr>
            </thead>
            <tbody id="id_keys_tbody">
            </tbody>
        </table>
    </div>
    </div>
</div>
<div class="tab-pane fade" id="id_miscellaneous_panel" role="tabpanel" aria-labelledby="id_miscellaneous">
    <div class="row">
    <div class="col">
        <table class="table table-dark text-info" id="id_miscellaneous_table">
            <thead>
            <tr>
                <th>Quantity</th>
                <th>Item name</th>
                <th>Value</th>
                <th>Weight</th>
                <th>Plugin</th>
                <th>Editor ID</th>
                <th>Form ID</th>
            </tr>
            </thead>
            <tbody id="id_miscellaneous_tbody">
            </tbody>
        </table>
    </div>
    </div>
</div>
</div>

{% csrf_token %}
{% endblock %}