{% extends "the_elder_commands/base.html" %}
{% load tec_extras %}
{% block body %}
<div class="row">
<div class="col-12">
<ul class="nav nav-tabs bg-dark justify-content-around" role="tablist">
    <li class="nav-item">
        <a class="nav-link text-info active show" data-toggle="tab" id="id_plugins" href="#id_plugins_panel" role="tab"
           aria-controls="id_plugins_panel" aria-selected="true">Plugins</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-info" data-toggle="tab" id="id_add_plugin" href="#id_add_plugin_panel" role="tab"
           aria-controls="id_add_plugin_panel" aria-selected="false">Add Plugin</a>
    </li>
</ul>
</div>
</div>

{% if plugins_messages %}
{% for message in plugins_messages %}
<div class="row errors_messages">
    <div class="col-auto">
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <h4><strong>{{ message }}</strong></h4>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}

<div class="tab-content container-fluid">
    <div class="tab-pane active" id="id_plugins_panel" role="tabpanel" aria-labelledby="id_plugins">
        <div class="row row-separator"></div>
        <div class="row">
        <div class="col-md-8 col-12">
            <form action="{% url "tec:plugins" %}" method="post">
                <table class="table table-dark text-info" id="id_plugins_table">
                    <thead>
                    <tr>
                        <th>Plugin Name</th>
                        <th>Version and Language</th>
                        <th>Plugin Order</th>
                        <th>Selected?</th>
                    </tr>
                    </thead>
                    <tbody class="plugins_table">
                    {% for plugin in service.all_plugins %}
                    <tr>
                        <td>{{ plugin.name }}</td>
                        <td><!--suppress HtmlFormInputWithoutLabel -->
                            <select class="form-control" id="id_{{ plugin.usable_name }}_variant"
                                    name="{{ plugin.usable_name }}_variant">
                                {% for variant in plugin.variants %}
                                <option value="{{ variant.version }}&{{ variant.language }}&{{ variant.esl }}"
                                {% if variant.selected %}selected="selected"{% endif %}>
                                    {{ variant.version }} {{ variant.language|capfirst }} {{ variant.esl }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <label for="id_{{ plugin.usable_name }}_load_order">
                                <input type="text" name="{{ plugin.usable_name }}_load_order"
                                       value="{{ plugin.load_order }}">
                            </label>
                        </td>
                        <td>
                            <label><input type="checkbox" name="selected" class="{{ plugin.usable_name }}"
                                          value="{{ plugin.usable_name }}"
                                          {% if plugin.selected %}checked{% endif %}></label>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            <div class="row row-separator"></div>
            <div class="row">
                <div class="col-5"></div>
                <div class="col-2">
                    <button type="submit" id="id_select_plugin_submit" class="btn btn-dark text-info">Submit</button>
                    <input type="hidden" name="selected" value="">
                    {% csrf_token %}
                </div>
                <div class="col-5"></div>
            </div>
            </form>
        </div>
            <div class="col-4">
                <table class="table table-dark text-info" id="id_selected_plugins_table">
                    <thead>
                    <tr>
                        <th><form action="{% url "tec:plugins" %}" method="post"> Selected Plugins:
                            <span style="float:right"><button type="submit"  name="unselect" value="unselect_all"
                            class="btn btn-dark text-info btn-sm btn-outline-info unselect_all" >
                            Unselect All
                            </button></span>
                            {% csrf_token %}
                        </form></th>
                    </tr>
                    </thead>
                    <tbody class="selected_plugins">
                    {% for selected in service.selected %}
                    <tr>
                        <td><form action="{% url "tec:plugins" %}" method="post">
                            {{ selected|get_value:"name" }} ver: {{ selected|get_value:"version" }}
                            {{ selected|get_value:"language"|capfirst }}
                            {% if selected|get_value:"is_esl" %}esl{% endif %}
                            <span style="float:right"><button
                                type="submit" class="btn btn-dark text-info btn-sm btn-outline-info"
                                value="{{ selected|get_value:"usable_name" }}" name="unselect">Unselect</button></span>
                            {% csrf_token %}
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="tab-pane col-12 container-fluid" id="id_add_plugin_panel" role="tabpanel"
         aria-labelledby="id_add_plugin">
        <form id="id_add_plugin_form" action="{% url 'tec:plugins' %}" method="post" enctype="multipart/form-data">
            <div class="row row-separator"></div>
            <div class="form-row">
                <div class="col-4 col-lg-2">
                    <label for="id_plugin_name">Plugin name: </label>
                    <input id="id_plugin_name" class="form-control" name="plugin_name" required>
                </div>
                <div class="col-4 col-lg-2">
                    <label for="id_plugin_version">Mod version: </label>
                    <input id="id_plugin_version" class="form-control" name="plugin_version" required>
                </div>
                <div class="col-4 col-lg-2">
                    <label for="id_plugin_language">Select a language: </label>
                    <select class="form-control" id="id_plugin_language" name="plugin_language">
                        <option value="english">English</option>
                        <option value="polish">Polish</option>
                    </select>
                </div>
            </div>
            <div class="row row-separator"></div>
            <div class="form-row">
                <div class="col-2">
                    <label for="id_plugin_file">Select .tec file: </label>
                    <input id="id_plugin_file" name="plugin_file" type="file" class="form-control-file" required>
                </div>
                <div class="col-2"></div>
                <div class="col-2">
                    <button type="submit" id="id_add_plugin_submit" class="btn btn-dark text-info">Submit</button>
                    <input type="hidden" name="add_plugin" value="">
                    {% csrf_token %}
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}