{% extends "the_elder_commands/base.html" %}
{% load tec_extras %}
{% block body %}
<div class="row">
<div class="col-12">
<ul class="nav nav-tabs bg-dark justify-content-around" role="tablist">
<li class="nav-item">
    <a class="nav-link text-info active show" data-toggle="tab" id="id_plugins" href="#id_plugins_panel" role="tab"
       aria-controls="id_plugins_panel" aria-selected="true">Plugins</a>
</li>
<li class="nav-item">
    <a class="nav-link text-info" data-toggle="tab" id="id_add_plugin" href="#id_add_plugin_panel" role="tab"
       aria-controls="id_add_plugin_panel" aria-selected="true">Add Plugin</a>
</li>
</ul>
</div>
</div>

{% if add_plugin_messages %}
{% for message in add_plugin_messages %}
    <div class="row">
    <div class="col-auto">
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <h4><strong>{{ message }}</strong></h4>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
{% endfor %}
{% endif %}

</div>
<div class="tab-content">
    <div class="tab-pane active" id="id_plugins_panel" role="tabpanel" aria-labelledby="id_plugins">
        <div class="row row-separator"></div>
        <div class="row">
        <form action="{% url "tec:plugins" %}" method="post">
            <div class="col-8">
                <table class="table table-dark text-info" id="id_plugins_table">
                    <thead>
                    <tr>
                        <th>Selected?</th>
                        <th>Plugin Name</th>
                        <th>Version and Language</th>
                        <th>Plugin Order</th>
                    </tr>
                    </thead>
                    <tbody class="plugins_table">
                    {% for plugin in plugins %}
                    {% with plugin|get_item:"usable_name" as usable_name %}
                    <tr>
                        <td>
                            <label><input type="checkbox" name="{{ usable_name }}_selected"
                                          {% if plugin|get_item:"selected" %}checked{% endif %}></label>
                        </td>
                        <td>{{ plugin|get_item:"name" }}</td>
                        <td><label for="id_{{ usable_name }}_variant"></label>
                            <select class="form-control" id="id_{{ usable_name }}_variant"
                                    name="{{ usable_name }}_variant">
                                {% for variant in plugin|get_item:"variants" %}
                                <option value="{{ variant|get_item:"version" }};{{ variant|get_item:"language" }}">
                                    {{ variant|get_item:"version" }} {{ variant|get_item:"language"|capfirst }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <label for="id_{{ usable_name }}_plugin_order">
                                <input type="text" name="{{ usable_name }}_plugin_order"
                                       value="{{ plugin|get_item:"load_order" }}">
                            </label>
                        </td>
                    </tr>
                    {% endwith %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
            <div class="col-4">
                <table class="table table-dark text-info" id="id_selected_plugins_table">
                    <thead>
                    <tr>
                        <th>Selected Plugins:</th>
                    </tr>
                    </thead>
                    <tbody class="selected_plugins">
                    <tr>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="tab-pane" id="id_add_plugin_panel" role="tabpanel" aria-labelledby="id_add_plugin">
        <form id="id_add_plugin_form" action="{% url 'tec:plugins' %}" method="post" enctype="multipart/form-data">
            <div class="row row-separator"></div>
            <div class="form-row">
                <div class="col-4 col-lg-2">
                    <label for="id_plugin_name">Plugin name: </label>
                    <input id="id_plugin_name" class="form-control" name="plugin_name" required>
                </div>
                <div class="col-4 col-lg-2">
                    <label for="id_plugin_version">Mod version: </label>
                    <input id="id_plugin_version" class="form-control" name="plugin_version" required>
                </div>
                <div class="col-4 col-lg-2">
                    <label for="id_plugin_language">Select a language: </label>
                    <select class="form-control" id="id_plugin_language" name="plugin_language">
                        <option value="english">English</option>
                        <option value="polish">Polish</option>
                    </select>
                </div>
            </div>
            <div class="row row-separator"></div>
            <div class="form-row">
                <div class="col-2">
                    <label for="id_plugin_file">Select .tec file: </label>
                    <input id="id_plugin_file" name="plugin_file" type="file" class="form-control-file" required>
                </div>
                <div class="col-2"></div>
                <div class="col-2">
                    <button type="submit" id="id_plugin_submit" class="btn btn-dark text-info">Submit</button>
                    {% csrf_token %}
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}